https://tushare.pro/document/2?doc_id=27

In [7]:
pip install tushare

Requirement already satisfied: tushare in c:\users\nick_ni\anaconda3\lib\site-packages (1.2.85)
Requirement already satisfied: lxml in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (4.6.3)
Requirement already satisfied: websocket-client==0.57.0 in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (0.57.0)
Requirement already satisfied: requests in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (2.28.1)
Requirement already satisfied: bs4 in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (0.0.1)
Requirement already satisfied: pandas in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (1.4.3)
Requirement already satisfied: simplejson in c:\users\nick_ni\anaconda3\lib\site-packages (from tushare) (3.17.6)
Requirement already satisfied: six in c:\users\nick_ni\anaconda3\lib\site-packages (from websocket-client==0.57.0->tushare) (1.16.0)
Requirement already satisfied: beautifulsoup4 in c:\users\nick_ni\anaconda3\lib\site-packages (from bs4->tushare) (4.10.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nick_ni\anaconda3\lib\site-packages (from pandas->tushare) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nick_ni\anaconda3\lib\site-packages (from pandas->tushare) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\nick_ni\anaconda3\lib\site-packages (from pandas->tushare) (1.22.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nick_ni\anaconda3\lib\site-packages (from requests->tushare) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nick_ni\anaconda3\lib\site-packages (from requests->tushare) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\nick_ni\anaconda3\lib\site-packages (from requests->tushare) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nick_ni\anaconda3\lib\site-packages (from requests->tushare) (1.26.10)
Requirement already satisfied: soupsieve>1.2 in c:\users\nick_ni\anaconda3\lib\site-packages (from beautifulsoup4->bs4->tushare) (2.2.1)
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1129)'))) - skipping
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [1]:
import tushare as ts

In [1]:
ts.set_token('312e069704a20efe3271855a0b17b32942cf66fbf908c131044c41a6')
pro = ts.pro_api()

NameError: name 'ts' is not defined

In [3]:
data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [4]:
data

        ts_code  symbol     name  area industry list_date
0     000001.SZ  000001     平安银行    深圳       银行  19910403
1     000002.SZ  000002      万科A    深圳     全国地产  19910129
2     000004.SZ  000004     ST国华    深圳     软件服务  19910114
3     000005.SZ  000005     ST星源    深圳     环境保护  19901210
4     000006.SZ  000006     深振业A    深圳     区域地产  19920427
...         ...     ...      ...   ...      ...       ...
4972  873122.BJ  873122      中纺标  None     None  20220927
4973  873169.BJ  873169     七丰精工  None     None  20220415
4974  873223.BJ  873223     荣亿精密  None     None  20220609
4975  873527.BJ  873527      夜光明  None     None  20221027
4976  689009.SH  689009  九号公司-WD    北京      摩托车  20201029

[4977 rows x 6 columns]

In [5]:
df = pro.query('daily',ts_code='600000.SH',start_date='2017-01-01',end_date='2020-01-01')

In [6]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600000.SH,20191231,12.32,12.38,12.21,12.37,12.34,0.03,0.2431,319536.28,392736.236
1,600000.SH,20191230,12.27,12.36,12.12,12.34,12.32,0.02,0.1623,410515.55,503090.483
2,600000.SH,20191227,12.25,12.43,12.25,12.32,12.29,0.03,0.2441,279321.09,344832.499
3,600000.SH,20191226,12.26,12.32,12.23,12.29,12.24,0.05,0.4085,157390.54,193083.033
4,600000.SH,20191225,12.29,12.29,12.20,12.24,12.28,-0.04,-0.3257,136781.75,167407.896
...,...,...,...,...,...,...,...,...,...,...,...
726,600000.SH,20170109,16.24,16.29,16.13,16.20,16.18,0.02,0.1200,149087.45,241579.598
727,600000.SH,20170106,16.30,16.30,16.13,16.18,16.30,-0.12,-0.7400,171955.98,278864.536
728,600000.SH,20170105,16.30,16.38,16.24,16.30,16.33,-0.03,-0.1800,264376.46,431449.126
729,600000.SH,20170104,16.29,16.35,16.18,16.33,16.30,0.03,0.1800,296587.34,482612.222
730,600000.SH,20170103,16.21,16.44,16.17,16.30,16.21,0.09,0.5600,162371.25,265043.268